<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Template de blog usando Bootstrap</title>

    <!-- Principal CSS do Bootstrap -->
    <link href="../../assets/bootstrap/CSS/bootstrap.min.css" rel="stylesheet">

    <!-- Estilos customizados para esse template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="../../assets/css/blog.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                    <a class="text-muted" href="#">Logout</a>
                </div>
                <div class="col-4 text-center">
                    <a class="blog-header-logo text-dark" href="#">Namastchau</a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <a class="text-muted" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="mx-3">
                            <circle cx="10.5" cy="10.5" r="7.5"></circle>
                            <line x1="21" y1="21" x2="15.8" y2="15.8"></line>
                        </svg>
                    </a>
                </div>
            </div>
        </header>

        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-between">
                <a class="p-2 text-muted" href="index.html">Lista de Colunista</a>
                <a class="p-2 text-muted" href="listaLeitores.html">Lista de Leitores</a>
                <a class="p-2 text-muted" href="criarCategoria.html">Criar Categoria</a>
                <a class="p-2 text-muted" href="listaCategoria.html">Ver Categorias</a>
            
            </nav>
        </div>
        <br />
        <h3 class="mb-0">

        </h3>
        <br />

        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Sobrenome</th>
                    <th scope="col">Email</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Fulano</td>
                    <td>Detal</td>
                    <td>fulano@gmail.com</td>
                    <td><button type="button" class="btn btn-danger">Excluir</button></td>
                    <td><button type="button" class="btn btn-primary">Editar</button></td>
                    <td><button type="button" class="btn btn-primary">+ Info</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Ciclano</td>
                    <td>Cicloalcano</td>
                    <td>ciclo@hotmail.com</td>
                     <td><button type="button" class="btn btn-danger">Excluir</button></td>
                    <td><button type="button" class="btn btn-primary">Editar</button></td>
                    <td><button type="button" class="btn btn-primary">+ Info</button></td>
                </tr>

            </tbody>
        </table>
        <form action="addColunista.html">
        <button type="submit" class="btn btn-secondary btn-lg">Adicionar Colunista</button>
        </form>

        <footer class="blog-footer">
            <p>Template de blog construído para o <a href="https://getbootstrap.com/">Bootstrap</a>, pelo <a
                    href="https://twitter.com/mdo">@mdo</a>.</p>
            <p>
                <a href="#">Voltar ao topo</a>
            </p>
        </footer>

        <!-- Principal JavaScript do Bootstrap
    ================================================== -->
        <!-- Foi colocado no final para a página carregar mais rápido -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <script>
            window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
        </script>
        <!-- <script src="../../assets/bootstrap/js/popper.min.js"></script> -->
        <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
        <!-- <script src="../../assets/bootstrap/js/holder.min.js"></script> -->
        <script>
            Holder.addTheme('thumb', {
                bg: '#55595c',
                fg: '#eceeef',
                text: 'Thumbnail'
            });
        </script>
</body>

</html>