@import url('https://fonts.googleapis.com/css?family=Cinzel|Dancing+Script|Satisfy&display=swap');

/* 
    font-family: 'Dancing Script', cursive;
    font-family: 'Cinzel', serif;
    font-family: 'Satisfy', cursive;
 */
/* stylelint-disable selector-list-comma-newline-after */

/* a {
  color:#ba1a6f !important;
} */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  /* font-family: "Playfair Display", Georgia, "Times New Roman", serif; */
    font-family: 'Satisfy', cursive;
    font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  width: 40%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/*
 * Nome do blog e descrição
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Paginação */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Posts do blog
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-cover {
  max-width: 100%;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

.blog-post-comentarios {
    width: 100%;
    text-align: center;
    padding: 15px 0px 15px 0px;
    margin: 25px 0px 0px 0px;
    border: 1px solid #000;
    box-sizing: border-box;
    position: relative;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

.blog-post-comentarios a {
    background: url('imagens/post-comentario.png') no-repeat;
    background-size: 31px 29px;
    height: 29px;
    color: #000;
    font-family: 'BwSurcoRegular';
    font-size: 1.4em;
    line-height: 29px;
    text-transform: uppercase;
    padding: 0px 0px 0px 50px;
    position: relative;
    display: inline-block;
  }

.blog-post-favorite {
  float: right;
    padding-top: 17px;
    padding-right: 14px;
}

  #comments {
    width: 100%;
    margin: 55px 0px 0px 0px;
    border-top: 1px solid #E2E2E2;
    position: relative;
    float: left;
  }

  #respond {
    width: 100%;
    padding: 35px 0px 0px 0px;
    position: relative;
    float: left;
}

#responder-conteudo {
    width: 100%;
    text-align: left;
    position: relative;
    float: left;
}

#commentform {
    width: 100%;
    position: relative;
    float: left;
}

.responder-campo-nome, .responder-campo-email {
    width: 49.0196%;
}
.responder-campo-email {
    float: right;
}
/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
